option_settings:
  aws:elasticbeanstalk:application:environment:
    # These will be set through EB environment configuration
    # Don't put sensitive values here - use EB environment variables instead
    AWS_DEFAULT_REGION: ap-south-1
    S3_REGION: ap-south-1
    AWS_BEDROCK_REGION: us-east-1
    LOG_LEVEL: info
